* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    

}


header  {
    background-color: rgb(22, 22, 255);
    color: white;
    padding-bottom: 8px;
    margin: auto auto;
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    

}


.container {
justify-content: center;
align-items: center;
max-width: 1024px;
margin: 0 auto;

}

.menu-topo a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    padding: 0 8px;
}

.sobre {
    margin-top: 32px;
    display:flex;

}

#texto p, #texto h2 {

    align-items: center;
}

.sobre #texto {
    padding-left: 16px;
    text-align: justify;
    align-content: center;
    
    
}
.sobre img {
    border-radius: 30px;
}

#produtos {
    padding: 36px 0px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 5%;
    max-width: 1024px;

    
    
}
#produtos h3 {
    margin-bottom: 16px;
}


.produto {
    width: 100%;
    display: block;
    padding: 8px;
    margin: 16px 0;;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.produto img {
    border-radius: 30px;
    padding: 8px;
    width: 100%;
}
.produto a {
font-weight: bolder;
color: black;
text-decoration: none;
justify-content: center;
padding-bottom: 8px;
width: 100%;

}

.produto p {
    text-align: justify;
    padding-bottom: 8px;
}

.produto button {
    border: none;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: rgb(22, 22, 255);
    padding: 8px 0;
    border-radius: 30px;

}

@media screen and (min-width:641px) and (max-width:1023px) {

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 1%;
        row-gap: 5%;
}


}
@media screen and (max-width:640px) {
    




    .sobre {
    display: block;
    }

    .sobre #texto {
        padding-left: 0;

    
    }
    .produtos {
        display: block;

    }

    .produto {
        width: 320px;
        display: block;
        padding: 16px;
        margin: 16px 0;;
        border: 1px solid rgba(0, 0, 139, 0.291);
    }

    .sobre {
        display: block;
        padding: 8px 0;
    }


    header {
        min-width: 320px;
    }

    .sobre #texto {
    min-width: 320px;
    max-width: 320px;
    padding: 16px 0;
    margin: 0 0;
    }

    .sobre #texto p{

        padding-top: 16px;
        
        }

}